.body-wrapper{
    z-index: 2;
}
h3,h1 {
    text-align: center;
    
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    z-index: 2;
  }
  h3{
    margin-top:5%;
  }
  h1{
    font-size:50px;
    font-weight:bold;
  }
  #name-hl{
    color:	#00BFFF;
  }
  #full-stack-hl{
    color:	#66FF66;
  }
  #ph-hl{
    color:#FF3C3C;
  }
  #creating-hl{
    color:#B266FF;
  }
  .boxes-container {
    position: absolute;
    top: 30vh;
    left: 14vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    transition: opacity 1s ease-in-out;
    height: 70vh;
    width: 70vw;
    
  }
  
  #profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%; 
    height: auto;
    max-height: 76.5vh; 
    max-width: 100%; 
    background-color: transparent;
    border-radius: 50%;
  }
  .box {
    width: 150px;
    height: 150px;
    
    transition: opacity 1s ease-in-out;
    border-radius: 25%;
  }
  .box h2{
    text-align: center;
  }
  .box1 {
    justify-self: center;
    grid-column: 1; 
    grid-row: 1;    
  }
  
  .box2 {
    margin-left:7%;
    justify-self: center;
    grid-column: 3; 
    grid-row: 1;    
  }
  
  .box3 {
    justify-self: start;
    grid-column: 1; 
    grid-row: 2;    
  }
  
  .box4 {
    justify-self: center;
    grid-column: 1; 
    grid-row: 3;    
  }
  
  .box5 {
    margin-left:7%;
    justify-self: center;
    grid-column: 3; 
    grid-row: 3;    
  }
  .box6 {
    margin-left:7%;
    justify-self: end;
    grid-column: 3; 
    grid-row: 2;    
  }
  
  .container.show-boxes .box {
    opacity: 1; 
  }
  p{
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-top: 2%;
  }

  .circle-container {
    position: absolute;
    top: 20vh;
    left: 30.5vw;
    height: 700px;
    width: 700px;
    z-index:-1;
    border-radius: 50%;
    background-color: #f5eaea;
  }

  .logos{
    height: 80%;
    border-radius: 50%;
}