.ripple{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.ripple-circle{
    position: absolute;
    left:50%;
    top:50%;
    width: 50vw;
    height: 50vw;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(114, 113, 113, 0.1);
    border-radius: 50%;
    animation: 20s ease-in-out 0s infinite normal none running ripple ;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1
    }

    100% {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}